.leaflet-control-layers {
    display: none !important;
}

.leaflet-top {
    right: 20px;
    left: auto !important;
    top: 7px;
    opacity: 0.8;
}

.leaflet-control-zoom a, .leaflet-control-zoom a:hover {
    height: 50px !important;
    width: 50px !important;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    line-height: 45px !important;

}

.ol-zoom, .olControlZoom {
    right: 20px;
    left: auto !important;
    top: 20px;
    background: #000000 !important;
    opacity: 0.7;
}

.ol-zoom-in, .ol-zoom-out, .olControlZoomIn, .olControlZoomOut {
    height: 50px !important;
    width: 50px !important;
    font-weight: bold;
    text-decoration: none;
}

.ol-zoom a, .ol-zoom a:hover, .olControlZoom a {
    font-size: 30px !important;
    font-weight: bold !important;
    background: none !important;
    line-height: 45px !important;
    text-decoration: none;
    color: white;
}