.popover {
    width: 180px;
}

.popover-inner {
    overflow: auto;
    max-height: 400px;
}

img {
    max-width: none !important;
}

.olControlZoom {
    right: 40px;
    left: auto !important;
    top: 70px !important;
}

.olButton {
    height: 50px !important;
    width: 50px !important;
    font-size: 24px;
    font-weight: bold;
}
.navbar-absolute + div {
    margin-top: 68px;
}
@media (max-width: 767px) {
    #layers-popover-li {
        display: none !important;
    }

    #base-layers-popover-li {
        display: none !important;
    }

    #legend-popover-li {
        display: none !important;
    }
    .navbar-fixed-top {
        margin-bottom: 0px;
    }
    #map {
        margin-left: -20px !important;
        margin-right: -20px !important;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #layers-popover-li {
        display: none !important;
    }

    #base-layers-popover-li {
        display: none !important;
    }

    #legend-popover-li {
        display: none !important;
    }
    .navbar-fixed-top {
        margin-bottom: 0px;
    }
}
@media (max-width: 979px) {
    .navbar-fixed-top.navbar-absolute {
        position: absolute;
        margin: 0;
    }
}

@media (min-width: 980px) {
    #layers-modal-li {
        display: none !important;
    }

    #base-layers-modal-li {
        display: none !important;
    }

    #legend-modal-li {
        display: none !important;
    }
    .gc-btn {
        margin-left: 100px;
    }
}