<div class="pane">
    <!-- map -->
    <div id="map-{{id}}" class="map"></div>
    <div id="info-text-{{id}}" class="alert alert-success fade in" style="display:none; width: {{infoTextWidth}}; position: absolute; z-index: 3; top: 30px; right: 5px; margin-bottom: 0">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{{infoText}}}
    </div>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <button id="locate-btn-{{id}}" type="button" class="btn btn-default navbar-btn locate-btn" data-toggle="tooltip"
                            data-placement="bottom" title="{{{Locate me on the map}}}">
                        <i class="fa fa-location-arrow"></i>
                    </button>
                </li>

                <li id="legend-popover-li-{{id}}" class="gc-btn" data-toggle="tooltip"
                    data-placement="bottom" title="{{{Show legend}}}">
                    <a href="javascript:void(0)" id="legend-popover-{{id}}" rel="popover"
                       data-placement="bottom">
                        {{Legend}} </a>
                </li>
                <!--<li id="share-modal-li-{{id}}" class="gc-btn">
                    <a href="javascript:void(0)" title="Share"
                       onclick="gc2map.maps['{{id}}'].share();">
                        Del </a>
                </li>-->
                <li id="open-win-li-{{id}}" class="gc-btn" data-toggle="tooltip"
                    data-placement="bottom" title="{{{Open map in pop up window}}}">
                    <a href="javascript:void(0)" title=""
                       onclick="gc2map.maps['{{id}}'].openMapWin(decodeURIComponent(geocloud.urlHash),screen.width-20, screen.height-100);">
                        {{Pop up}} </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{Baselayers}} <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu" id="base-layer-list-{{id}}">
                    </ul>
                </li>
            </ul>
            <form style="display: none" id="custom-search-form" class="navbar-form navbar-right" role="search">
                <input id="custom-search" class="typeahead" type="text" placeholder="{{Search}}">
            </form>
        </div>
    </div>
    <!-- layers -->
    <div id="layers-{{id}}" class="panel-group"></div>
    <!-- legend -->
    <div id="legend-{{id}}" class="legend-container"></div>
    <!-- info modal -->
    <div id="modal-info-{{id}}" class="modal fade">
        <div class="modal-dialog modal-infobox">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Info</h4>
                </div>
                <div class="modal-body" id="modal-info-body-{{id}}">
                    <ul class="nav nav-tabs" id="info-tab-{{id}}"></ul>
                    <div class="tab-content" id="info-pane-{{id}}"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{Close}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Share modal -->
    <div id="modal-share-{{id}}" class="modal fade modal-share">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{Share}}</h4>
                </div>
                <div class="modal-body" id="modal-share-body-{{id}}">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-1 control-label"><i class="fa fa-share"></i></label>

                            <div class="col-sm-10">
                                <button type="button" class="btn btn-default btn-share" data-toggle="tooltip"
                                        data-placement="top" title="Twitter"
                                        onclick="gc2map.maps['{{id}}'].shareTwitter();"><i
                                        class="fa fa-twitter"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-share" data-toggle="tooltip"
                                        data-placement="top" title="LinkedIn"
                                        onclick="gc2map.maps['{{id}}'].shareLinkedIn();"><i
                                        class="fa fa-linkedin"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-share" data-toggle="tooltip"
                                        data-placement="top" title="Google+"
                                        onclick="gc2map.maps['{{id}}'].shareGooglePlus();"><i
                                        class="fa fa-google-plus"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-share" data-toggle="tooltip"
                                        data-placement="top" title="Facebook"
                                        onclick="gc2map.maps['{{id}}'].shareFacebook();"><i
                                        class="fa fa-facebook"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-share" data-toggle="tooltip"
                                        data-placement="top" title="Tumblr"
                                        onclick="gc2map.maps['{{id}}'].shareTumblr();">
                                    <i
                                            class="fa fa-tumblr"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="share-url-{{id}}" class="col-sm-1 control-label"><i
                                    class="fa fa-link"></i></label>

                            <div class="col-sm-10">
                                <input data-toggle="tooltip" data-placement="top"
                                       title="{{URL to this map}}"
                                       type="text"
                                       class="form-control share-text" id="share-url-{{id}}" value="">
                            </div>
                        </div>
                        <div class="form-group" id="group-iframe-{{id}}">
                            <label for="share-iframe-{{id}}" class="col-sm-1 control-label"><i class="fa fa-code"></i></label>

                            <div class="col-sm-10">
                                <input data-toggle="tooltip" data-placement="top"
                                       title="{{Iframe with this map to embed on web page}}" type="text"
                                       class="form-control share-text" id="share-iframe-{{id}}" value="">
                            </div>
                        </div>
                        <div class="form-group" id="group-static-{{id}}">
                            <label for="share-static-{{id}}" class="col-sm-1 control-label"><i
                                    class="fa fa-picture-o"></i></label>

                            <div class="col-sm-10">
                                <input data-toggle="tooltip" data-placement="top"
                                       title="{{URL to a static PNG image of this map}}" type="text"
                                       class="form-control share-text" id="share-static-{{id}}" value="">
                            </div>
                        </div>
                        <div class="form-group" id="group-javascript-{{id}}">
                            <label for="share-javascript-{{id}}" class="col-sm-1 control-label">js</label>

                            <div class="col-sm-10">
                                <textarea data-toggle="tooltip" data-placement="top"
                                          title="{{JavaScript for an application}}"
                                          class="form-control share-text" id="share-javascript-{{id}}" rows="6"
                                          value=""></textarea>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{Close}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
