#corner-banner {
    z-index: 100000;
    position: fixed;
    left: -65px;
    top: 25px;
    display: block;
    width: 200px;
    background: #333; /* old browsers */
    background: -moz-linear-gradient(top, #333 0%, #000 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #000)); /* webkit */
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    padding: 3px 3px 4px 3px;
    text-shadow: #000 1px 1px 0;

    -moz-transform: rotate(-45deg); /* FF3.5+ */
    -o-transform: rotate(-45deg); /* Opera 10.5 */
    -webkit-transform: rotate(-45deg); /* Saf3.1+, Chrome */
    transform: rotate(-45deg); /* CSS3 (for when it gets supported) */

    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
}

#corner-banner em {
    letter-spacing: 1px;
    font-style: normal;
    font-size: 18px !important;
    color: #fff;
    text-transform: uppercase;
    line-height: 12px;
    display: block;
}