.layout-table {
    background: #F2F3F7;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
}

.output_table_row {
    background: #CED7E1;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
}

.output-table-cell {
    padding-left: 3px;
    padding-right: 3px;
}

.pretty-tables tr td {
    font-family: arial, helvetica, sans-serif
}

.x-box-item {
    font-family: 'Open Sans';
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    vertical-align: middle
}

.plupload_header {
    color: #fff;
    background-color: #777
}

.map-thumbs {
    background-size: 434px 55px;
    width: 434px;
    height: 35px;
    vertical-align: middle !important;
    border-bottom: 1px solid #aaa;
    opacity: 0.3;


}

.map-thumbs-table {
    border-spacing: 0;
}

.map-thumbs b {
    font-size: 14px;
    line-height: 5px;
    padding-left: 5px;
    padding-top: 5px;
    color: #000;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF
}

.tt {
    color: gray;
    font-size: 9px;
    cursor: help;
    line-height: 13px;
    vertical-align: top
}

li.plupload_droptext {
    line-height: 18px !important;
    margin-top: 20px
}

blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, input, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0
}

body, html, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: 400
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}

q:after, q:before {
    content: ''
}

.x-tree-node-collapsed .x-tree-node-icon, .x-tree-node-expanded .x-tree-node-icon {
    width: 14px;
    height: 14px;
    line-height: 10px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-top: -1px
}

.x-tree-node-collapsed, .x-tree-node-expanded {
    padding: 5px;
}

.x-tree-node-collapsed, .x-tree-node-expanded, .x-grid3-check-col-on, .x-grid3-check-col, .x-tool-collapse-west, .x-tool-collapse-east, .x-tool-collapse-south,
.x-tool-expand-east, .x-tool-expand-west, .x-tool-expand-south, .x-window-dlg .ext-mb-question,.ext-mb-error, .x-tool {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.x-tool-close {
    background: #ffffff !important;
    color: #848482;
}


.x-tool-close-over {
    background: red !important;
    color: #ffffff;
}

.x-tool-close,.x-tool-close-over {
    padding-left: 3px;
    padding-top: 2px;
    font-size: 11px;
    box-sizing: border-box;

}
.x-tool-close:before,.x-tool-close-over:before {
    content: "\f00d";
}

.x-window-dlg .ext-mb-question {
    background: none !important;
    color: #ffffff;
    font-size: 34px;
}

.x-window-dlg .ext-mb-question:before {
    content: "\f059";
}

.x-window-dlg .ext-mb-error {
    background: none !important;
    color: #ffffff;
    font-size: 34px;
}

.x-window-dlg .ext-mb-error:before {
    content: "\f071";
}

.x-tree-node-collapsed:before {
    content: "\f196";
}

.x-tree-node-expanded:before {
    content: "\f147";
}

.x-grid3-check-col-on, .x-grid3-check-col {
    background-image: none !important;
    line-height: 19px;
    padding-left: 5px;

}

.x-grid3-check-col-on:before {
    content: "\f046"
}

.x-grid3-check-col:before {
    content: "\f096"
}

.x-tree-node-anchor span {
    font: normal 11px 'Open Sans';
}

.x-tree-node-expanded .x-tree-node-icon {
    background-position: -408px -120px
}

.x-tree-node-collapsed .x-tree-node-icon {
    background-position: -384px -120px
}

.x-tool-collapse-west, .x-tool-collapse-west-over, .x-tool-collapse-east, .x-tool-collapse-east-over,
.x-tool-expand-west, .x-tool-expand-west-over, .x-tool-expand-east, .x-tool-expand-east-over,
.x-tool-expand-south, .x-tool-expand-south-over, .x-tool-collapse-south, .x-tool-collapse-south-over {
    text-align: center;
    font-size: 15px;
    line-height: 14px;
    padding-left: 2px;
}

.x-tool-collapse-west, .x-tool-collapse-east,
.x-tool-expand-west, .x-tool-expand-east,
.x-tool-expand-south, .x-tool-collapse-south {
    background-image: none;
}

.x-tool-collapse-west-over, .x-tool-collapse-east-over,
.x-tool-expand-west-over, .x-tool-expand-east-over,
.x-tool-expand-south-over, .x-tool-collapse-south-over {
    color: #ffffff;
}

.x-tool-collapse-west:before {
    content: "\f100";

}

.x-tool-collapse-east:before {
    content: "\f101";
}

.x-tool-collapse-south:before {
    content: "\f103";
}

.x-tool-expand-west:before {
    content: "\f101";
}

.x-tool-expand-east:before {
    content: "\f100";
}

.x-tool-expand-south:before {
    content: "\f102";
}

.x-tree-no-lines .x-tree-elbow-end-minus, .x-tree-no-lines .x-tree-elbow-end-plus, .x-tree-no-lines .x-tree-elbow-minus, .x-tree-no-lines .x-tree-elbow-plus {
    display: inline-block;
    width: 2px;
    height: 14px;
    line-height: 10px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-top: -1px
}

.x-tree-elbow, .x-tree-elbow-end {
    width: 0px !important;
}

.x-tree-no-lines .x-tree-elbow-end-plus, .x-tree-no-lines .x-tree-elbow-plus {
    background-position: 0 -96px
}

.x-tree-no-lines .x-tree-elbow-end-minus, .x-tree-no-lines .x-tree-elbow-minus {
    background-position: -24px -96px
}

.x-tree-node-icon {
    display: none
}

#upload a {
    z-index: 2000;
    position: absolute;
    bottom: 20px;
    display: block;
    color: #000;
    text-decoration: none
}

#upload img {
    position: relative;
    width: 100px;
    left: 40px
}

#upload div {
    left: 11px;
    position: relative;
    font-family: 'Open Sans';
    font-size: 7.5pt
}

.layer-desc {
    font-family: 'Open Sans';
    font-size: 7.5pt;
    padding: 10px;
    color: #fff;
    background-color: #404040
}

.ol-zoom, .olControlZoom {
    background: #000 !important;
    opacity: .7
}

.ol-zoom-in, .ol-zoom-out, .olControlZoomIn, .olControlZoomOut {
    height: 30px !important;
    width: 30px !important;
    font-weight: 700;
    text-decoration: none
}

.ol-zoom a, .ol-zoom a:hover, .olControlZoom a {
    font-size: 16px !important;
    font-weight: 700 !important;
    background: none !important;
    line-height: 28px !important;
    text-decoration: none;
    color: #fff
}

.olControlAttribution {
    bottom: 0 !important;
    font-family: verdana, arial, sans-serif !important;
    font-size: 7.5pt !important
}

.pac-container {
    z-index: 10000
}

.legend {
    font-family: 'Open Sans';
    font-size: 12px;
}

.legend-container {
    margin-left: 10px;
}

.isview {
    background-color: #d0e7ff;
}
.ismatview {
    background-color: #00e7ff;
}

.isforeign {
    background-color: #ffe7d0;
}

#spinner {
    position: absolute;
    top: 3px;
    right: 3px;
    display: none;
}

#spinner img {
    width: 15px;
    height: 15px;
}

#spinner span {
    position: absolute;
    top: 1px;
    right: 20px;
    font-family: verdana, arial, sans-serif;
    font-size: 8pt;
    white-space: nowrap;
}

.color-ramp {
    padding-left: 6px;
    padding-top: 5px;
}

.x-tree-node {
    white-space: pre-wrap;
}

.x-form-file-btn {
    display: none !important;
}

.x-form-file-wrap {
    white-space: normal !important;
}

#service-dialog input {
    padding: 10px;
    font-size: 13px;
    width: 100%;
    box-sizing: border-box;

}

#service-dialog table {
    width: 100%;
    box-sizing: border-box;

}

#service-dialog td {
    color: rgba(255,255,255,.9);
}

.plupload_scroll .plupload_filelist {
    height: 195px;
    background-color: #000000;
}

.plupload_filelist li {
    background: #000000;
    border-bottom: none;
    padding: 10px 8px 0;
}
.plupload_filelist_header, .plupload_filelist_footer {
    border-top: none;
    border-bottom: none;
    background: none;
    color: rgba(255,255,255,.8);
}

.plupload_button {
    display: -moz-inline-box;
    display: inline-block;
    font: normal 12px 'Open Sans';
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
    border: none;
    background-color: rgba(255, 255, 255, .2);
    padding: 2px 8px 3px 8px;
    margin-right: 4px;
    outline: 0;
    background-repeat: no-repeat;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.plupload_button:hover {
    color: #ffffff;
    border: none;
    background-color: rgba(255, 255, 255, .3);
}

.plupload_disabled, a.plupload_disabled:hover {
    background: rgba(255, 255, 255, .3);
    color: rgba(255, 255, 255, .3);
    border: none;
}

.plupload_header_content {
    display: none;
}


#gx-map-panel{
    border-left: 1px solid  #B6B6B4/*Gray Cloud*/;;
    border-right: 1px solid  #B6B6B4/*Gray Cloud*/;;
}

.service-url {
    font-family: 'Open Sans';
    background-color: black;
    color: white;
    border: none;
}

.bottom-info-bar-pipe {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.bottom-info-bar-param {
    font: normal 11px/13px 'Open Sans' !important;
    font-weight: 700;
}

#loadscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
}
.bounce {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

}
.text {
    transform: translate(-50%, -100px);
    -webkit-transform: translate(-50%, -100px);
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    color: rgba(150, 160, 180, 1);;
}

.bouncywrap {
    position: relative;
}

.dotcon {
    display: block;
    float: left;
    width: 50px;
    position: absolute;
}

.dc1 {
    -webkit-animation: bouncy1 1.5s infinite;
    left: -40px;
    animation: bouncy1 1.5s infinite;
}

.dc2 {
    -webkit-animation: bouncy2 1.5s infinite;
    animation: bouncy2 1.5s infinite;
    left: 0;
}

.dc3 {
    -webkit-animation: bouncy3 1.5s infinite;
    animation: bouncy3 1.5s infinite;
    left: 40px;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgba(150, 160, 180, 0.8);
}

@-webkit-keyframes bouncy1 {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translate(0px, 0px) rotate(180deg);
    }
    100% {
        -webkit-transform: translate(40px, 0px) rotate(-180deg);
    }
}

@keyframes bouncy1 {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    50% {
        transform: translate(0px, 0px) rotate(180deg);
    }
    100% {
        transform: translate(40px, 0px) rotate(-180deg);
    }
}

@-webkit-keyframes bouncy2 {
    0% {
        -webkit-transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(-40px);
    }
    100% {
        -webkit-transform: translateX(-40px);
    }
}

@keyframes bouncy2 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-40px);
    }
    100% {
        transform: translateX(-40px);
    }
}

@-webkit-keyframes bouncy3 {
    0% {
        -webkit-transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(-40px);
    }
}

@keyframes bouncy3 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-40px);
    }
}

.layertree-btn {
    cursor: pointer;
    font-size: 12px;
}







