.layout-table {
    background: #F2F3F7;
    font-family: arial, helvetica, sans-serif;
    font-size: 11
}

.output_table_row {
    background: #CED7E1;
    font-family: arial, helvetica, sans-serif;
    font-size: 11;
    padding-left: 3;
    padding-right: 3
}

.output-table-cell {
    padding-left: 3;
    padding-right: 3
}

.pretty-tables tr td {
    font-family: arial, helvetica, sans-serif
}

.x-box-item {
    font-family: arial, tahoma, helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    vertical-align: middle
}

.plupload_header {
    color: #fff;
    background-color: #777
}

.map-thumbs {
    background-size: 434px 55px;
    width: 434px;
    height: 35px;
    vertical-align: middle !important;
    border-bottom: 1px solid #aaa;

}

.map-thumbs-table {
    border-spacing: 0;
}

.map-thumbs b {
    font-size: 14px;
    line-height: 5px;
    padding-left: 5px;
    padding-top: 5px;
    color: #000;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF
}

.tt {
    color: gray;
    font-size: 9px;
    cursor: help;
    line-height: 13px;
    vertical-align: top
}

li.plupload_droptext {
    line-height: 18px !important;
    margin-top: 20px
}

blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, input, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0
}

body, html, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: 400
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}

q:after, q:before {
    content: ''
}

.x-tree-node-collapsed .x-tree-node-icon, .x-tree-node-expanded .x-tree-node-icon {
    background-image: url(/js/bootstrap/img/glyphicons-halflings.png) !important;
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 10px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-top: -1px
}

.x-tree-node-expanded .x-tree-node-icon {
    background-position: -408px -120px
}

.x-tree-node-collapsed .x-tree-node-icon {
    background-position: -384px -120px
}

.x-tree-no-lines .x-tree-elbow-end-minus, .x-tree-no-lines .x-tree-elbow-end-plus, .x-tree-no-lines .x-tree-elbow-minus, .x-tree-no-lines .x-tree-elbow-plus {
    background-image: url(/js/bootstrap/img/glyphicons-halflings.png) !important;
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 10px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-top: -1px
}

.x-tree-no-lines .x-tree-elbow-end-plus, .x-tree-no-lines .x-tree-elbow-plus {
    background-position: 0 -96px
}

.x-tree-no-lines .x-tree-elbow-end-minus, .x-tree-no-lines .x-tree-elbow-minus {
    background-position: -24px -96px
}

.x-tree-node-icon {
    display: none
}

.btn-gc {
    margin-top: -1px !important
}

#upload a {
    z-index: 2000;
    position: absolute;
    bottom: 20px;
    display: block;
    color: #000;
    text-decoration: none
}

#upload img {
    position: relative;
    width: 100px;
    left: 40px
}

#upload div {
    left: 10px;
    position: relative;
    font-family: verdana, arial, sans-serif;
    font-size: 7.5pt
}

.layer-desc {
    font-family: verdana, arial, sans-serif;
    font-size: 7.5pt;
    padding: 10px;
    color: #fff;
    background-color: #777
}

.ol-zoom, .olControlZoom {
    background: #000 !important;
    opacity: .7
}

.ol-zoom-in, .ol-zoom-out, .olControlZoomIn, .olControlZoomOut {
    height: 30px !important;
    width: 30px !important;
    font-weight: 700;
    text-decoration: none
}

.ol-zoom a, .ol-zoom a:hover, .olControlZoom a {
    font-size: 16px !important;
    font-weight: 700 !important;
    background: none !important;
    line-height: 28px !important;
    text-decoration: none;
    color: #fff
}

.olControlAttribution {
    bottom: 0 !important;
    font-family: verdana, arial, sans-serif !important;
    font-size: 7.5pt !important
}

.pac-container {
    z-index: 10000
}

.legend {
    font-family: arial, tahoma, helvetica, sans-serif;;
    font-size: 8pt;
}

.legend-container {
    margin-left: 10px;
}

.isview {
    background-color: #d0e7ff;
}

#spinner {
    position: absolute;
    top: 3px;
    right: 3px;
    display: none;
}

#spinner img {
    width: 15px;
    height: 15px;
}

#spinner span {
    position: absolute;
    top: 1px;
    right: 20px;
    font-family: verdana, arial, sans-serif;
    font-size: 8pt;
    white-space: nowrap;
}

.color-ramp {
    padding-left: 6px;
    padding-top: 5px;
}

.x-tree-node {
    white-space: pre-wrap;
}

.x-form-file-btn {
    display: none !important;
}

.x-form-file-wrap {
    white-space: normal !important;
}

#service-dialog input {
    padding: 10px;
    font-size: 13px;
    width: 100%;
    box-sizing: border-box;

}

#service-dialog table {
    width: 100%;
    box-sizing: border-box;

}

#service-dialog td {
    color: #808080;
}

.plupload_scroll .plupload_filelist {
    height: 195px;
}


