.leaflet-top {
    bottom: 50px !important;
    top: auto !important;
}

.ol-zoom, .olControlZoom {
    top: 70px !important;
}

.popover {
    width: 225px;
}

.popover-inner {
    overflow: auto;
    max-height: 400px;
}

img {
    max-width: none !important;
}
#modal-info-body {
    height: 300px !important;
}

@media (max-width: 767px) {
    #layers-popover-li {
        display: none !important;
    }

    #base-layers-popover-li {
        display: none !important;
    }

    #legend-popover-li {
        display: none !important;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }

    #map {
        margin-left: -20px !important;
        margin-right: -20px !important;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #layers-popover-li {
        display: none !important;
    }

    #base-layers-popover-li {
        display: none !important;
    }

    #legend-popover-li {
        display: none !important;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

@media (max-width: 979px) {
    .navbar-fixed-top.navbar-absolute {
        position: absolute;
        margin: 0;
    }
}

@media (min-width: 980px) {
    #layers-modal-li {
        display: none !important;
    }

    #base-layers-modal-li {
        display: none !important;
    }

    #legend-modal-li {
        display: none !important;
    }

    .gc-btn {
        margin-left: 140px;
    }

    #locate-btn {
        margin-left: 5px;
    }
    .modal {
        top: 50px !important;
        right: 10px !important;
        width: 360px !important;
        position: absolute !important;
        left: auto !important;
    }
}

#result_GroupDiv {
    background: white;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    padding: 1px;
    text-align: left;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

#queryResult {
    margin: 10px 15px;
    line-height: 1.4;
    font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    min-width: 100px;
}

#result {
    opacity: 1 !important;
    background-color: transparent !important;
    padding: 10px
}

.pac-container {
    z-index: 10000000 !important;
}

#alert {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
    display: none;
    font-size: 130%;
    text-align: center;
}

.images-base-map {
    width: 50px;
    margin-right: 5px;
}

#base-layers div {
    margin-bottom: 10px;
}

.base-map-button {
    margin-top: 0 !important;
}

.navbar-absolute + div {
    smargin-top: 68px;
}

.leaflet-control-layers {
    display: none !important;
}