body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Condensed', sans-serif, sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #fff;
}

#map {
    position: absolute;
    width: 100%;
    transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    -webkit-transition: opacity 250ms;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

#pane {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    z-index: 0;
}

#menu {
    margin-top: 60px;
    z-index: 2 !important;
}

.tnav .navbar .container {
    height: 18px !important;
    z-index: 1;
}

.modal-infobox {
    width: inherit !important;
}

.leaflet-control-zoom {
    bottom: 50px !important;
    top: auto !important;
}

.ol-zoom, .olControlZoom {
    top: 70px !important;
}

.popover {
    width: 225px;
}

/*.popover-inner {
    overflow: auto;
    max-height: 400px;
}*/

img {
    max-width: none !important;
}

#modal-info-body {
    height: 300px !important;
    overflow: auto;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 8px 0 0 !important;
    margin-top: 1px \9;
}

.radio, .checkbox {
    min-height: 0 !important;
    padding-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.infobox {
    bottom: auto !important;
    bottom: auto !important;
    overflow-y: hidden !important;
    z-index: 2 !important;
}

.modal-footer {
    margin-top: 0 !important;
}

@media (max-width: 767px) {

    #legend-popover-li {
        display: none !important;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }

    #map {
        /* margin-left: -20px !important;
         margin-right: -20px !important;*/
    }
}


@media (max-width: 768px) {
    .navbar-fixed-top.navbar-absolute {
        position: absolute;
        margin: 0;
    }
    .leaflet-control-zoom{
        display: none;
    }
    #group-iframe {
        display: none;
    }
    #group-javascript {
        display: none;
    }
}

@media (min-width: 768px) {

    #legend-modal-li {
        display: none !important;
    }

    #locate-btn {
        margin-left: 5px;
    }
    .infobox {
        top: 100px !important;
        right: 10px !important;
        width: 360px !important;
        position: absolute !important;
        left: auto !important;
    }

}

#result_GroupDiv {
    background: white;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    padding: 1px;
    text-align: left;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

#queryResult {
    margin: 10px 15px;
    line-height: 1.4;
    font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    min-width: 100px;
}

#result {
    opacity: 1 !important;
    background-color: transparent !important;
    padding: 10px
}

.pac-container {
    z-index: 10000000 !important;
}

#alert {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
    display: none;
    font-size: 130%;
    text-align: center;
}

.images-base-map {
    width: 50px;
    margin-right: 5px;
}

#base-layers div {
    margin-bottom: 10px;
}

.base-map-button {
    margin-top: 0 !important;
}

.navbar-absolute + div {
    smargin-top: 68px;
}

.leaflet-control-layers {
    display: none !important;
}

.navbar-brand {
    padding: 12px 0 0 7px !important;
}

.navbar-collapse {
    padding-left: 50px !important;
}

.navbar-nav {
    margin: 0 !important;
}

.navbar-form {
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.meta-info {
    padding: 0 !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid rgb(245, 245, 245)
}

.table > thead > tr > th {
    border-bottom: 0px;
}
/*
.modal-footer {
    border-top: 1px solid #CCC !important;
}
.modal-header {
    border-bottom: 1px solid #CCC !important;
}
*/
.btn-share {
    width: 50px;
}


