AddDefaultCharset UTF-8
AddType text/cache-manifest .appcache

# Force IE in Edge mode
Header add X-UA-Compatible "IE=edge"

<ifmodule mod_expires.c>
<FilesMatch ".(ico|jpg|jpeg|png|gif|js|css|swf)$">
        ExpiresActive on
        ExpiresDefault "access plus 100 day"
   </FilesMatch>
</ifmodule>
<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteRule index\.php - [L]

#SetEnv TINYOWS_CONFIG_FILE "/mnt/hgfs/Documents/www/geocloud2/app/wms/mapfiles/mydb_goddag.xml"

#SetEnvIf Request_URI "tinyows/(.*)/(.*)" TINYOWS_CONFIG_FILE="/mnt/hgfs/Documents/www/geocloud2/app/wms/mapfiles/$1_$2.xml"

# Rewrite URLs for user module
RewriteRule user/login/p$ user/login/login_p.php [L]
RewriteRule user/login/$ user/login/login_f.php [L]
RewriteRule user/logout/$ user/logout/logout_p.php [L]
RewriteRule user/signup/$ user/signup/signup_f.php [L]
RewriteRule user/signup/p$ user/signup/signup_p.php [L]
RewriteRule user/createstore/$ user/createstore/createstore_p.php [L]
RewriteRule user/edit/$ user/edit/edit_f.php [L]
RewriteRule user/edit/p$ user/edit/edit_p.php [L]
RewriteRule user/edit/u$ user/edit/edit_fu.php [L]
RewriteRule user/edit/pu$ user/edit/edit_pu.php [L]
RewriteRule user/new/$ user/new/new_f.php [L]
RewriteRule user/new/p$ user/new/new_p.php [L]
RewriteRule user/delete/$ user/delete/delete_f.php [L]
RewriteRule user/delete/p$ user/delete/delete_p.php [L]

# Always rewrite GetLegendGraphic, GetFeatureInfo, DescribeFeatureType, format_options and all POST to WMS
#RewriteCond %{QUERY_STRING} (^|&)REQUEST=GetLegendGraphic($|&) [NC,OR]
#RewriteCond %{QUERY_STRING} (^|&)REQUEST=GetFeatureInfo($|&) [NC,OR]
#RewriteCond %{QUERY_STRING} (^|&)REQUEST=DescribeFeatureType($|&) [NC,OR]
#RewriteCond %{QUERY_STRING} (^|&)format_options=(.*) [NC,OR]
#RewriteCond %{REQUEST_METHOD} POST
#RewriteRule wms/(.*)/tilecache/(.*) wms/$1/$2 [L]

# Rewrite URL so tile requests is going direct to TileCache mod_apache script
#RewriteRule wms/(.*)/tilecache$ /cgi/tilecache.py?cfg=$1 [QSA,L]
#RewriteRule wms/(.*)/tilecache/(.*)/(.*)/(.*)/(.*)/(.*)$ /cgi/tilecache.py/$2/$3/$4/$5/$6?cfg=$1 [QSA,L]
#RewriteRule wms/(.*)/tilecache/(.*)$ /cgi/tilecache.py?cfg=$1 [QSA,L]

# Rewrite URL so tinyows request is going direct to tinyows cgi
#RewriteRule tinyows/(.*)/(.*) /cgi/tinyows.cgi [QSA,L]

# Rewrite URL to HTML map viewer
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule apps/viewer/(.*)/(.*) apps/viewer/index.html [L]

# Rewrite URL to HTML Heron map viewer
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule apps/mapclient/(.*)/(.*) apps/mapclient/index.html [L]

# Rewrite URL to HTML widget map viewer
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule apps/widgets/gc2map/(.*) apps/widgets/gc2map/index.html [L]

# Rewrite all other URLs to index.php/URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/fpm-status
RewriteCond %{REQUEST_URI} !^/fpm-ping
RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>
