AddDefaultCharset UTF-8
AddType text/cache-manifest .appcache

# Force IE in Edge mode
Header add X-UA-Compatible "IE=edge"

<ifmodule mod_expires.c>
<FilesMatch ".(ico|jpg|jpeg|png|gif|js|css|swf)$">
        ExpiresActive on
        ExpiresDefault "access plus 1 day"
   </FilesMatch>
</ifmodule>
<IfModule mod_rewrite.c>
RewriteEngine On

# Rewrite rules for React app, located in dashboard subdirectory - return
# the index.html unless the requested file / directory exists
RewriteRule ^dashboard/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^dashboard/(.*) dashboard/index.html [L]

# Rewrite URLs old user user module
RewriteRule user/login/$ dashboard [L]
RewriteRule user/login/p$ dashboard [L]

# Rewrite URL to HTML map viewer
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule apps/viewer/(.*)/(.*) apps/viewer/index.html [L]

# Rewrite URL to HTML widget map viewer
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule apps/widgets/gc2map/(.*) apps/widgets/gc2map/index.html [L]

# Rewrite all other URLs to index.php/URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/fpm-status
RewriteCond %{REQUEST_URI} !^/fpm-ping
RewriteRule ^(.*)$ index.php [L]

</IfModule>
