version: '3.3'

networks:
  internal:
    external: false

services:
  base:
    build: ./base
    image: mapcentia/gc2core:base8
  ecw:
    build: ./ecw
    image: mapcentia/gc2core:ecw8
    depends_on:
      - base
#  ecw5:
#    build: ./ecw5
#    image: mapcentia/gc2core:ecw5
#    depends_on:
#      - base
  gdal:
    build: ./gdal
    image: mapcentia/gc2core:gdal8
    depends_on:
      - ecw
#  gdal_ecw5:
#    build: ./gdal_ecw5
#    image: mapcentia/gc2core:gdal_ecw5
#    depends_on:
#      - ecw5
  mapserver:
    build: ./mapserver
    image: mapcentia/gc2core:mapserver8
    depends_on:
      - gdal
#  mapserver_ecw5:
#    build: ./mapserver
#    image: mapcentia/gc2core:mapserver_ecw5
#    depends_on:
#      - gdal_ecw5
  gc2core:
    build: ./stable
    image: mapcentia/gc2core8
    depends_on:
      - mapserver
    privileged: true
    volumes:
      - ../../geocloud2:/var/www/geocloud2
    networks:
      - default
      - internal
    ports:
      - "8080:80"
    expose:
      - 9000
    environment:
      - POSTGIS_HOST=postgis
      - POSTGIS_DB=postgres
      - POSTGIS_USER=gc2
      - POSTGIS_PORT=5432
      - POSTGIS_PW=1234
      - POSTGIS_PGBOUNCER=false
      - MODE_ENV=${MODE_ENV}
      - BUILD_ID=${BUILD_ID}
    extra_hosts:
      - host.docker.internal:host-gateway
    healthcheck:
      test: curl --fail http://localhost/fpm-ping || exit 1
      interval: 30s
      timeout: 3s
      retries: 2
  redis:
    image: redis
    networks:
      - default
      - internal
    ports:
      - "6379:6379"
  memcached:
    image: memcached
    networks:
      - default
      - internal
    ports:
      - "11211:11211"
  postgis:
    build: ./postgis
    image: mapcentia/postgis13
    volumes:
      - postgis_var_lib_postgresql:/var/lib/postgresql
    networks:
      - default
      - internal
    ports:
      - "5432:5432"
    environment:
      - GC2_USER=gc2
      - GC2_PASSWORD=1234

#  limesurvey:
#    image: acspri/limesurvey
#    ports:
#      - 8082:80
#    networks:
#      - default
#      - internal
#    environment:
#      LIMESURVEY_DB_PASSWORD: 1234
#      LIMESURVEY_DB_USER: gc2
#      LIMESURVEY_DB_HOST: postgis
#      LIMESURVEY_DB_NAME: mydb
#      LIMESURVEY_ADMIN_USER: admin
#      LIMESURVEY_ADMIN_PASSWORD: password
#      LIMESURVEY_ADMIN_NAME: Lime Administrator
#      LIMESURVEY_ADMIN_EMAIL: lime@lime.lime
#    volumes:
#      - ./plugins:/var/www/html/plugins
#      - ./upload:/var/www/html/upload
#      - ./config:/var/www/html/application/config

#  elasticsearch:
#    image: elasticsearch:7.17.6
#    networks:
#      - default
#      - internal
#    ports:
#      - "9200:9200"
#    environment:
#      - "discovery.type=single-node"

volumes:
  postgis_var_lib_postgresql:





