networks:
  internal:
    external: false

services:
  gc2core:
    image: gc2core
    privileged: true
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
      args:
        - ECW_VERSION=3
    volumes:
      - ../:/var/www/geocloud2
    networks:
      - default
      - internal
    ports:
      - "8080:80"
      - "8081:8080"
    expose:
      - 9000
    env_file: conn.env
    extra_hosts:
      - host.docker.internal:host-gateway

  event:
    image: event
    build:
      context: ../app/event/.
      dockerfile: Dockerfile
    privileged: true
    volumes:
      - ../:/var/www/geocloud2
    networks:
      - default
      - internal
    ports:
      - "8088:80"
    expose:
      - 9000
    env_file: conn.env
    extra_hosts:
      - host.docker.internal:host-gateway
  redis:
    image: redis
    networks:
      - default
      - internal
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]

  postgres:
    image: postgis/postgis:16-3.4
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file: conn.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - default
      - internal

  keycloak:
    image: quay.io/keycloak/keycloak:26.3.3
    command:
      - "start-dev"
    networks:
      - default
      - internal
    ports:
      - "8083:8080"
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
    volumes:
      - keycloak:/opt/keycloak/data/

#  limesurvey:
#    image: acspri/limesurvey
#    ports:
#      - 8082:80
#    networks:
#      - default
#      - internal
#    environment:
#      LIMESURVEY_DB_PASSWORD: 1234
#      LIMESURVEY_DB_USER: gc2
#      LIMESURVEY_DB_HOST: postgis
#      LIMESURVEY_DB_NAME: mydb
#      LIMESURVEY_ADMIN_USER: admin
#      LIMESURVEY_ADMIN_PASSWORD: password
#      LIMESURVEY_ADMIN_NAME: Lime Administrator
#      LIMESURVEY_ADMIN_EMAIL: lime@lime.lime
#    volumes:
#      - ./plugins:/var/www/html/plugins
#      - ./upload:/var/www/html/upload
#      - ./config:/var/www/html/application/config

#  elasticsearch:
#    image: elasticsearch:7.17.6
#    networks:
#      - default
#      - internal
#    ports:
#      - "9200:9200"
#    environment:
#      - "discovery.type=single-node"

volumes:
  pgdata:
  keycloak:





