<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Kulturarvstjenesten Vesthimmerlands Museum</title>
		<meta charset="UTF-8" />
		<script src="http://eu1.mygeocloud.com/js/openlayers/OpenLayers.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="http://eu1.mygeocloud.com/api/v2/js/mygeocloud.js"></script>
		<link href="http://eu1.mygeocloud.com/js/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="http://eu1.mygeocloud.com/js/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<style>
			em {
				font-style: normal !important;
				font-weight: bold !important;
			}
			.popover {
				width: 200px;
			}
			.popover-inner {
				overflow: auto;
				max-height: 600px;
			}
			.right {
				float: right !important;
			}
			img {
				max-width: none !important;
			}
			#modal-fund {
				width: 700px;
			}
			#wait {
				background-color: transparent !important;
			}
			#result {
				opacity: 1 !important;
				background-color: transparent !important;
				padding: 10px
			}
			#result_GroupDiv {
				background: white;
				box-shadow: 0 3px 14px rgba(0,0,0,0.4);
				padding: 1px;
				text-align: left;
				-webkit-border-radius: 20px;
				border-radius: 20px;
			}
			#queryResult {
				margin: 10px 15px;
				line-height: 1.4;
				font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
			}
			.images {
				width: 300px;
				margin-bottom: 4px;
			}
			.images-small {
				width: 100%;
				margin-bottom: 4px;
			}
			.olControlZoom {
				right: 40px;
				left: auto !important;
				top: 70px !important;
			}
			.olButton {
				height: 50px !important;
				width: 50px !important;
				font-size: 24px;
				font-weight: bold;
			}
			#alert {
				position: absolute;
				height: 60px;
				width: 300px;
				margin: -100px 0 0 -200px;
				top: 50%;
				left: 50%;
				display: none;
				font-size: 130%;
				text-align: center;
			}
		</style>

		<script>
            var cloud, store, sogneStore, popup;
            var kms_skaermkort, orto_foraar, sogne, kommuner;
            var hostname = mygeocloud_host;
            var db = "vmus";
            var schema = "kulturarvstjenesten";
            var metaData = null;
            var activeTileLayer = "master";
            var metaDataKeys = [];
            var metaDataKeysTitle = [];
            var switchLayer = function(id) {
                if (id !== "sogne") {
                    for (var i = 0; i < cloud.map.layers.length; i++) {
                        if (cloud.map.layers[i].name !== "kommuner" && cloud.map.layers[i].isBaseLayer === false && cloud.map.layers[i].CLASS_NAME === "OpenLayers.Layer.WMS") {
                            cloud.map.layers[i].setVisibility(false);
                        }
                    }
                }
                cloud.showLayer(id);
                activeTileLayer = id;
                try {
                    popup.destroy();
                } catch(e) {
                }
                store.reset();
                addLegend();
            };
            var resetAllButtons = function() {
                $('.btn-layer').each(function(key, obj) {
                    $(obj).removeClass("active");
                });
            }
            var kmsLayer = {
                layerid : 1,
                type : "WMTS",
                name : "Skaermkort",
                url : "http://kortforsyningen.kms.dk/topo_skaermkort",
                params : {
                    service : 'WMTS',
                    version : '1.0.0',
                    request : 'GetTile',
                    format : 'image/jpeg',
                    layer : 'dtk_skaermkort',
                    style : 'default',
                    BGCOLOR : '0xDCF0F9',
                    matrixSet : 'View1',
                    matrixIds : 'L00,L01,L02,L03,L04,L05,L06,L07,L08,L09,L10,L11',
                    info_format : 'text/plain',
                    transparent : true
                },
                options : {
                    isBaseLayer : true,
                    visibility : false,
                    requestEncoding : 'kvp',
                    layerid : 1
                }
            };
            var styleMap = new OpenLayers.StyleMap({
                'default' : {
                    fillColor : "rgb(178, 34, 34)",
                    fillOpacity : 0.9,
                    strokeColor : "rgb(178, 34, 34)",
                    strokeOpacity : 0.5,
                    strokeWidth : 12,
                    pointRadius : 10
                }
            });
            var startExt = [982022.41542977, 7694595.0928929, 1136119.4644312, 7754368.8490035];
            var maxExt = new OpenLayers.Bounds(982022.41542977, 7694595.0928929, 1136119.4644312, 7754368.8490035);
            var addLegend = function(layers) {
                var layers = cloud.getVisibleLayers();
                console.log(layers);
                var param = 'layers=' + layers + '&amp;type=text&amp;lan=';
                $.ajax({
                    url : hostname + '/apps/viewer/servers/legend/vmus?' + param,
                    dataType : 'jsonp',
                    jsonp : 'jsonp_callback',
                    success : function(response) {
                        //console.log(response);
                        $('#legendContent').html(response.html);

                    }
                });
            }
            $(window).load(function() {
                cloud = new mygeocloud_ol.map({
                    el : "map",
                    //controls : this.mapControls,
                    projection : "EPSG:3857",
                    //resolutions : new Array(0.8, 1.6, 3.2, 6.4, 12.8, 25.6, 51.2, 102.4, 204.8, 409.6, 819.2, 1638.4),
                    units : "m",
                    //maxResolution : (maxExt.top - maxExt.bottom) / 256,
                    // maxExtent : maxExt,
                    eventListeners : {
                        //"changelayer" : addLegend
                    }
                    //numZoomLevels : 12
                });
                //cloud.addWmtsLayer(kmsLayer);
                cloud.map.events.register("moveend", null, function() {
                    console.log(cloud.getExtent())
                });
                kms_skaermkort = cloud.addTileLayers({
                layers : ["public.kms_skaermkort"],
                db : "vmus",
                isBaseLayer : true,
                name: "kms_skaermkort"
                })[0];
                orto_foraar = cloud.addTileLayers({
                layers : ["public.orto_foraar"],
                db : "vmus",
                isBaseLayer : true,
                name: "orto_foraar"
                })[0];
                cloud.setBaseLayer(cloud.addOSM());
                cloud.zoomToExtent(startExt);
                store = new mygeocloud_ol.geoJsonStore({
                    db : db,
                    styleMap : styleMap
                });
                sogneStore = new mygeocloud_ol.geoJsonStore({
                    db : db

                });
                // Add the GeoJSON store to the map
                cloud.addGeoJsonStore(store);
                cloud.addGeoJsonStore(sogneStore);
                /* Click controller */
                cloud.clickController = OpenLayers.Class(OpenLayers.Control, {
                    defaultHandlerOptions : {
                        'single' : true,
                        'double' : false,
                        'pixelTolerance' : 0,
                        'stopSingle' : false,
                        'stopDouble' : false
                    },
                    initialize : function(options) {
                        this.handlerOptions = OpenLayers.Util.extend({}, this.defaultHandlerOptions);
                        OpenLayers.Control.prototype.initialize.apply(this, arguments);
                        this.handler = new OpenLayers.Handler.Click(this, {
                            'click' : this.trigger
                        }, this.handlerOptions);
                    },
                    trigger : function(e) {
                        var coords = this.map.getLonLatFromViewPortPx(e.xy);
                        var waitPopup = new OpenLayers.Popup("wait", coords, new OpenLayers.Size(36, 36), "<div style='z-index:1000;'><img src='assets/spinner/spinner.gif'></div>", null, true);
                        cloud.map.addPopup(waitPopup);
                        try {
                            popup.destroy();
                        } catch (e) {
                        };
                        var where;
                        (activeTileLayer !== "" && activeTileLayer !== "sogne") ? where = metaDataKeys[activeTileLayer].filter : where = null;
                        store.sql = "SELECT *,round(ST_Distance(ST_Transform(the_geom,3857), ST_GeomFromText('POINT(" + coords.lon + " " + coords.lat + ")',3857))) as afstand FROM kulturarvstjenesten.master WHERE round(ST_Distance(ST_Transform(the_geom,3857), ST_GeomFromText('POINT(" + coords.lon + " " + coords.lat + ")',3857))) < 1000 AND " + where + " ORDER BY afstand LIMIT 1";
                        sogneStore.sql = "SELECT * FROM kulturarvstjenesten.sogne WHERE ST_GeomFromText('POINT(" + coords.lon + " " + coords.lat + ")',3857) && ST_Transform(the_geom,3857) AND ST_Intersects(ST_GeomFromText('POINT(" + coords.lon + " " + coords.lat + ")',3857), ST_Transform(the_geom,3857))";
                        store.reset();
                        sogneStore.reset();
                        if (activeTileLayer === "sogne") {
                            sogneStore.load()
                            sogneStore.onLoad = function() {
                                waitPopup.destroy();
                                if ( typeof (sogneStore.layer.features[0]) === "object") {
                                    var anchor = new OpenLayers.LonLat(sogneStore.layer.features[0].geometry.getCentroid().x, sogneStore.layer.features[0].geometry.getCentroid().y);
                                    $('#modal-fund').html($('#template-sogn').jqote(sogneStore.layer.features[0].data));
                                    $('#modal-fund').modal();
                                } else {
                                    $("#alert").fadeIn(400).delay(1000).fadeOut(400);
                                }
                            }
                        } else {
                            store.load()
                            store.onLoad = function() {
                                waitPopup.destroy();
                                if ( typeof (store.layer.features[0]) === "object") {
                                    var anchor = new OpenLayers.LonLat(store.layer.features[0].geometry.x, store.layer.features[0].geometry.y);
                                    popup = new OpenLayers.Popup("result", anchor, new OpenLayers.Size(250, 250), "<div id='queryResult' style='z-index:1000;'></div>", false, null);
                                    cloud.map.addPopup(popup);
                                    $('#modal-fund').html($('#template-fund').jqote(store.layer.features[0].data));
                                    $("#queryResult").html('<div style="position:relative"><div><b>' + store.layer.features[0].data.navn + '</b></div><div>' + store.layer.features[0].data.intro_tekst + '</div><div><img class="img-rounded images-small" src="assets/images/' + store.layer.features[0].data.image1 + '"></div><div><a class="btn btn-small" onclick="$(\'#modal-fund\').modal()">Se mere</a></div><button onclick="popup.destroy();store.reset();" style="position:absolute; top:5px; right: 5px" type="button" class="close" aria-hidden="true">×</button></div>')
                                } else {
                                    $("#alert").fadeIn(400).delay(1000).fadeOut(400);
                                }
                            }
                        }
                    }
                });
                var click = new cloud.clickController();
                cloud.map.addControl(click);
                click.activate();

                cloud.addTileLayers({
                layers : ["kulturarvstjenesten.master"],
                db : "vmus",
                name: "master",
                visibility : true
                })[0];

                kommuner = cloud.addTileLayers({
                layers : ["public.kommuner"],
                db : "vmus",
                name: "kommuner",
                visibility : true
                })[0];

                addLegend();

                sogne = cloud.addTileLayers({
                layers : ["kulturarvstjenesten.sogne"],
                db : "vmus",
                name: "sogne",
                visibility : false
                })[0];
                $("#sogn-btn").click(function() {
                    switchLayer("sogne");
                })
                var layers = {};
                $.ajax({
                    url : hostname + '/controller/geometry_columns/' + db + '/getall/',
                    async : false,
                    dataType : 'jsonp',
                    jsonp : 'jsonp_callback',
                    success : function(response) {
                        metaData = response;
                        for (var i = 0; i < metaData.data.length; i++) {
                            metaDataKeys[metaData.data[i].f_table_name] = metaData.data[i];
                            (metaData.data[i].f_table_title) ? metaDataKeysTitle[metaData.data[i].f_table_title] = metaData.data[i] : null;
                        }

                        console.log(metaDataKeysTitle);
                        var groups = [];
                        for (var i = 0; i < response.data.length; ++i) {
                            groups[i] = response.data[i].layergroup;
                        }
                        var arr = array_unique(groups);
                        for (var u = 0; u < response.data.length; ++u) {
                            if (response.data[u].baselayer) {
                                var isBaseLayer = true;
                            } else {
                                var isBaseLayer = false;
                            }
                            layers[[response.data[u].f_table_schema + "." + response.data[u].f_table_name]] = cloud.addTileLayers({
                                layers : [response.data[u].f_table_schema + "." + response.data[u].f_table_name],
                                db : "vmus",
                                isBaseLayer : isBaseLayer,
                                tileCached: false,
                                visibility : false,
                                wrapDateLine : false,
                                displayInLayerSwitcher : true,
                                name : response.data[u].f_table_name
                            });
                        }
                        var base64name;
                        var cv;
                        for (var i = 0; i < arr.length; ++i) {
                            if (arr[i] && arr[i]!=="Master") {
                                var l = [];
                                console.log("TEST" + metaDataKeysTitle[arr[i]]);
                                cv = ( typeof (metaDataKeysTitle[arr[i]]) === "object") ? metaDataKeysTitle[arr[i]].f_table_name : null;
                                base64name = Base64.encode(arr[i]).replace(/=/g, "");
                                $("#layers").append('<div id="group-' + base64name + '" class="accordion-group"><div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#layers" href="#collapse' + base64name + '" onclick="resetAllButtons();switchLayer(\'' + cv + '\')"> ' + arr[i] + ' </a></div></div>');
                                $("#group-" + base64name).append('<div id="collapse' + base64name + '" class="accordion-body collapse"></div>');
                                for (var u = 0; u < response.data.length; ++u) {
                                    if (response.data[u].layergroup == arr[i]) {
                                        var text = (response.data[u].f_table_title === null || response.data[u].f_table_title === "") ? response.data[u].f_table_name : response.data[u].f_table_title;
                                        $("#collapse" + base64name).append('<div class="accordion-inner"><button type="button" class="btn btn-mini btn-layer" data-toggle="button" style="width:100px" id="' + response.data[u].f_table_name + '" onclick="switchLayer(this.id)">' + text + '</button></div>');
                                        l.push({
                                            text : (response.data[u].f_table_title === null || response.data[u].f_table_title === "") ? response.data[u].f_table_name : response.data[u].f_table_title,
                                            id : response.data[u].f_table_schema + "." + response.data[u].f_table_name,
                                            leaf : true,
                                            checked : false
                                        });
                                    }
                                }
                            }
                        }
                        $(function() {
                            $("#layers-popover").popover({
                                offset : 10,
                                html : true,
                                content : $("#layers")
                            });
                            $("#layers-popover").popover('show');
                            $("#base-layers-popover").popover({
                                offset : 10,
                                html : true,
                                content : $("#base-layers")
                            });

                        })
                    }
                });
            });
		</script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<div class="nav-collapse">
						<ul class="nav">

							<li>
								<a href="#" id="base-layers-popover" rel="popover" data-placement="bottom" title="Baggrundskort"> Baggrundskort </a>
							</li>
							<li>
								<a href="#" id="layers-popover" rel="popover" data-placement="bottom" title="På opdagelse"> På opdagelse </a>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
					<button id="sogn-btn" class="btn" type="button">
						Sognebeskrivelser
					</button>
					<!--<span class="brand right">Kulturarvstjenesten</span>-->
					<span class="brand right">Vesthimmerlands Museum</span>

				</div>
			</div>
		</div>
		<div id="map" style="width: 100%;height: 100%;position: absolute">
			<div id="layers" data-toggle="buttons-radio"></div>
			<div class="dropdown clearfix" style="position: absolute; z-index: 2000; bottom: 10px; right: 10px">
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
					<li>
						<a tabindex="-1" href="#">
						<div>
							Signatur
						</div></a>
					</li>
					<li>
						<div id="legendContent"></div>
					</li>
				</ul>
			</div>
		</div>
		<!-- base layers-->
		<div id="base-layers">
			<span onclick="cloud.setBaseLayer(kms_skaermkort)">Skærmkort</span>
			<span onclick="cloud.setBaseLayer(orto_foraar)">Luftfoto</span>
		</div>
		<!-- Modal -->
		<div id="modal-fund" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		</div>
		<!-- Alert -->
		<div id="alert" class="alert alert-info">
			Du ramte ikke noget. Prøv at zoome tættere på.
		</div>
	</body>
	<script type="text/html" id="template-fund">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		×
		</button>
		<h3 id="body-fundLabel"><%= this.navn %></h3>
		</div>
		<div class="modal-body" id="body-fund">
		<div style="float: left; position: relative; width: 320px">

		<%= this.tekst %>

		</div>
		<div style="float: right; position: relative">
		<div><img class="img-polaroid images" src='assets/images/<%= this.image1 %>'/></div>
		<div><%= this.image1_tekst %></div>
		<div><img class="img-polaroid images" src='assets/images/<%= this.image2 %>'/></div>
		<div><%= this.image2_tekst %></div>
		<div><img class="img-polaroid images" src='assets/images/<%= this.image3 %>'/></div>
		<div><%= this.image3_tekst %></div>
		<div><img class="img-polaroid images" src='assets/images/<%= this.image4 %>'/></div>
		<div><%= this.image4_tekst %></div>
		<div><img class="img-polaroid images" src='assets/images/<%= this.image5 %>'/></div>
		<div><%= this.image5_tekst %></div>
		</div>
		</div>
		<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">
		Luk
		</button>
		</div>
	</script>
	<script type="text/html" id="template-sogn">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		×
		</button>
		<h3 id="body-fundLabel"><%= this.sogn %></h3>
		</div>
		<div class="modal-body" id="body-fund">
		<div style="float: left; position: relative; width: 320px">

		<%= markdown.toHTML(this.tekst) %>

		</div>
		<div style="float: right; position: relative">
		<div><img class="img-polaroid images" src='assets/images/<%= this.image1 %>'/></div>
		<div><%= this.image1_tekst %></div>
		<div><img class="img-polaroid images" src='assets/images/<%= this.image2 %>'/></div>
		<div><%= this.image2_tekst %></div>
		<div><img class="img-polaroid images" src='assets/images/<%= this.image3 %>'/></div>
		<div><%= this.image3_tekst %></div>
		<div><img class="img-polaroid images" src='assets/images/<%= this.image4 %>'/></div>
		<div><%= this.image4_tekst %></div>
		<div><img class="img-polaroid images" src='assets/images/<%= this.image5 %>'/></div>
		<div><%= this.image5_tekst %></div>
		</div>
		</div>
		<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">
		Luk
		</button>
		</div>
	</script>
	<script src="http://eu1.mygeocloud.com/js/bootstrap/js/bootstrap.js"></script>
	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
	<script type="text/javascript" src="http://beta.mygeocloud.cowi.webhouse.dk/js/jqote2/jquery.jqote2.js"></script>
	<script type="text/javascript" src="http://eu1.mygeocloud.com/js/common.js"></script>
	<script src="https://raw.github.com/evilstreak/markdown-js/master/lib/markdown.js"></script>
</html>