RewriteEngine On
#RewriteRule ^([\w'-]*)/([\w'-]*)/$ ../cgi/mapserv.fcgi?map=%{DOCUMENT_ROOT}/wms/mapfiles/$1_$2.map [QSA,L]
RewriteRule ^([\w'-]*)/([\w'-]*)/$ wrapper.php?mapfile=$1_$2.map [QSA,L]
RewriteRule ^([\w'-]*)/([\w'-]*)/tilecache/$ ../cgi/tilecache.fcgi?cfg=$1 [QSA,L]
