RewriteEngine On
RewriteRule ^([\w'-]*)/([\w'-]*)/([\w'-]*)$ ../cgi-bin/mapserv?map=%{DOCUMENT_ROOT}/wms/mapfiles/$1_$2.map [QSA,L]
RewriteRule ^([\w'-]*)/([\w'-]*)/([\w'-]*)/([\w'-]*)$ tilecache/tilecache.fcgi?cfg=$1 [QSA,L]
