<div class="form-floating mb-3">
    <input class="form-control" type="password" name="password" id="password" placeholder="New password"/>
    <label class="form-label" for="password">New password</label>
</div>

<input type="hidden" name="userid" value="{{ user }}"/>
<input type="hidden" name="key" value="{{ key }}"/>
<input type="hidden" name="parentdb" value="{{ parentdb }}"/>
<button class="btn btn-primary w-100 py-2" type="submit">Reset</button>
