<div class="form-floating mb-3">
    <input class="form-control" type="text" name="userid" id="userid" placeholder="User name" autofocus/>
    <label class="form-label" for="userid">User name</label>
</div>
<button class="btn btn-primary w-100 py-2" type="submit">Send</button>
