<input type="password" name="password" placeholder="New password"/>
<input type="hidden" name="user" value="{{ user }}"/>
<input type="hidden" name="key" value="{{ key }}"/>
<button type="submit">Reset</button>
