.layout-table
{
	background: #F2F3F7;
	font-family: arial, helvetica, sans-serif;
	font-size: 11;
}
.output_table_row
{
	background: #CED7E1;
	font-family: arial, helvetica, sans-serif;
	font-size: 11;
	padding-left:3;
	padding-right:3;
}
.output-table-cell
{
	padding-left:3;
	padding-right:3;
}
.pretty-tables tr td {
	font-family: arial, helvetica, sans-serif;
}


